@{
    ViewBag.Title = "- Contact Me";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container py-5">
    <div class="text-center mb-4">
        <h3>Contact Me</h3>
        <p>Reach out to me if you need any service from me</p>
        <h5>
            <a href="mailto:sowmyanelakurthi.kollu@proton.me" class="text-primary">
                sowmyanelakurthi.kollu@proton.me
            </a>
        </h5>
        <h5 class="mb-4">+46-727732046</h5>
    </div>
    <div class="text-center">
        <a href="https://www.facebook.com/sowmya.nelakurthi" class="fa fa-facebook mx-2" aria-label="Facebook" target="_blank"></a>
        <a href="https://twitter.com/SowmyaNelakurt1" class="fa fa-twitter mx-2" aria-label="Twitter" target="_blank"></a>
        <a href="https://www.instagram.com/sowmya_234/" class="fa fa-instagram mx-2" aria-label="Instagram" target="_blank"></a>
        <a href="http://www.linkedin.com/in/sowmya-nelakurthi/" class="fa fa-linkedin mx-2" aria-label="LinkedIn" target="_blank"></a>
    </div>
</div>